@{
  Layout = "_Layout";
}

<h1>Welcome to the Music Organizer!</h1>
<p>Please select from the following options:</p>
<br>
<h3><a href='/artists'>View Artists</a></h3>
<br>
<h3><a href='/artists/new'>Add a new Artist</a></h3>