@{
  Layout = "_Layout";
}

@using MusicOrganizer.Models;

<h3>Here are all the records by this artist:</h3>

<ol>
@foreach (Record record in @Model["records"])
{
  <li><a href='/artists/@Model["artist"].Id/records/@record.Id'>@record.Album</a></li>
}
</ol>
<br>
<br>
<br>
<br>
<p class="left"><a href='/artists/@Model["artist"].Id/records/new'>Add a new record?</a></p>
<br>
<p class="right"><a href='/artists'>Return to artist list</a></p>
<br>
<p class="center"><a href='/'>Return to Main Page</a></p>