@{
  Layout = "_Layout";
}

<h1>Artist Record Details: </h1>

<h2>@Model["record"].Description</h2>
<h3>Artist: @Model["artist"].Name</h3>

<a href='/artists/@Model["artist"].Id/record/new'>Add another record?</a>
<br>
<a href='/artists'>View all Artists?</a>